@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn[wght].woff2") format("woff2 supports variations"),
    url("/fonts/Vazirmatn[wght].woff2") format("woff2-variations"),
    url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  color-scheme: light;
  font-family: "Vazirmatn", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: inherit;
}

* {
  font-family: inherit;
}
